* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}
img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clr {
    clear: both;
}
/* Commom css end */

/* Header start */
.header_full {
    background: #0872b9;
    height: 32px;
}
.header_cont {
    height: 32px;
    display: flex;
}

.header_text {
    width: 50%;
    text-align: left;
    height: 32px;
}

.header_text p {
    line-height: 32px;
    color: #e7e7e7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.header_icon {
    width: 50%;
    text-align: right;
}
.header_icon a {
    font-size: 14px;
    line-height: 32px;
    color: #e7e7e7;
    margin-left: 24px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.header_icon a:hover {
    color: #353535;
}

/* Header end */

/* Menu Start */
.menu_full {
    height: 100%;
}

.menu_cont {
    height: 100%;
    display: flex;
}

.logo {
    width: 20%;
    height: 80px;
}
.logo img {
    padding-top: 20px;
}
.main_menu {
    width: 80%;
    height: 100%;
}
.main_menu ul {
    display: flex;
    justify-content: flex-end;
}
.main_menu ul li a {
    color: #353535;
    margin-left: 14px;
    font-size: 14px;
    line-height: 80px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.main_menu ul li a:hover {
    color: #0872b9;
}
/* Menu End */

/* Banner Start */
.banner_full {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 88px 0;
    position: relative;
    z-index: 1;
}

.banner_full::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_cont {
    display: flex;
}
.banner_cont .banner_left {
    width: 50%;
}
.banner_cont .banner_right {
    width: 50%;
    text-align: right;
}
.banner_cont .banner_right h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}
.banner_cont .banner_right h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    line-height: 1;
    margin-bottom: 25px;
}
.banner_cont .banner_right p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    margin-bottom: 25px;
}
.banner_cont .banner_right a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    padding: 10px 20px;
    border: 1px solid #fff;
    margin: 0 10px;
    text-transform: uppercase;
}

.banner_cont .banner_right a:hover {
    background: #0872b9;
    border: 1px solid #0872b9;
}
/* Banner End */

/* About Start */
.about_full {
    padding: 60px 0;
}
.about_text {
    text-align: center;
}
.about_text img {
    margin-left: -25px;
}

.about_inner {
    display: flex;
}
.about_text h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}

.about_img {
    width: 380px;
}

.about_inner_text p {
    font-size: 13px;
    color: #555555;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    padding-top: 45px;
    padding-left: 20px;
}
.about_inner_text p span {
    display: block;
    padding-top: 15px;
}
/* About End */

/* Service Start */
.service_full {
    padding: 60px 0;
}

.service_head {
    text-align: center;
}
.service_head h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}

.service_head img {
    margin-left: -66px;
}

.service_inner {
    display: flex;
    column-gap: 20px;
    margin-top: 68px;
}

.service_text {
    position: relative;
}
.service_text .service_icon {
    width: 70px;
    height: 70px;
    background: #f1f1f1;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 70px;
}

.service_text .service_icon::after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 73px;
    height: 73px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
}
.service_text .service_icon::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 74px;
    height: 75px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.service_text {
    padding: 51px 21px 20px 20px;
    background: #f1f1f1;
    text-align: center;
}

.service_text h3 {
    color: #555555;
    font-weight: 500;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
.service_text p {
    font-size: 13px;
    font-weight: 400;
    color: #555555;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
}

/* Service End */

/* Portfolio Start */
.port_full {
    padding-bottom: 60px;
}
.port_head {
    text-align: center;
}
.port_head h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}
.port_head img {
    margin-left: -86px;
}

.port_inner {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}
.port_inner .port_img {
    width: 25%;
}
.port_inner .port_img .img-1 img {
    width: 100%;
}
.port_inner .port_img .img-2 img {
    width: 100%;
}

.port_inner .port_img .img-1 {
    position: relative;
    margin-bottom: 20px;
}

.port_inner .port_img .img-1:hover .overly {
    /* opacity: 1; */
    transform: scale(1);
}
.port_inner .port_img .img-2 {
    position: relative;
}

.port_inner .port_img .img-2:hover .overly {
    /* opacity: 1; */
    transform: scale(1);
}

.port_inner .port_img .img-1 .overly,
.port_inner .port_img .img-2 .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    /* opacity: 0; */
    transform: scale(0);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.port_inner .port_img .img-1 .overly i,
.port_inner .port_img .img-2 .overly i {
    width: 40px;
    height: 40px;
    background: #5bc5f4;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Portfolio End */
/* Team Start */
.team_full {
    padding-bottom: 60px;
}
.team_head {
    text-align: center;
}
.team_head img {
    margin-left: -85px;
}
.team_head h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}

.team_main {
    overflow-x: hidden;
}
.team_inner {
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.team_main .team_img {
    position: relative;
}
.team_main .team_img .overly ul {
    margin-top: 35px;
    text-align: center;
}

.team_main .team_img .overly i {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    margin-bottom: 15px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.team_main .team_img .overly i:hover {
    background: #5bc5f4;
    border: 1px solid #5bc5f4;
}
.team_main .team_img img {
    width: 100%;
}
.team_main .team_img .overly {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    transform: translate(80px);
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.team_text h3 {
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
}

.team_text h4 {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}
.team_main .team_text {
    text-align: center;
}

.team_main:hover .team_img .overly {
    transform: translate(0px);
}
/* Team End */
/* Testimonial Start */
.testi_full {
    padding-bottom: 60px;
}

.testi_head h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    line-height: 1;
}

.testi_head {
    text-align: center;
    margin-bottom: 20px;
}

.testi_main {
    display: flex;
    column-gap: 20px;
}
.testi_head img {
    margin-left: -60px;
}

.testi_inner {
    width: 50%;
    text-align: center;
}
.testi_text {
    padding: 20px 22px;
    background: #f1f1f1;
    position: relative;
}
.testi_text i {
    color: #5bc5f4;
    font-size: 13px;
    margin-bottom: 5px;
}
.testi_text ::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 50%;
    top: -2px;
    background: #f1f1f1;
    transform: rotate(45deg) translateX(-50%);
}

.testi_text h3 {
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px;
}
.testi_text h4 {
    color: #555555;
    font-size: 13px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    margin-bottom: 5px;
}
.testi_text p {
    color: #555555;
    font-size: 13px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    line-height: 24px;
}
.testi_img {
    margin-bottom: 25px;
}
/* Testimonial End */
/* Footer Start */
.footer_full {
    padding: 20px 0;
    background: #353535;
}
.footer_inner {
    display: flex;
}
.footer_logo {
    width: 25%;
}
.footer_logo img {
    margin-bottom: 10px;
}
.footer_logo p {
    color: #f1f1f1;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
}
.footer_logo p span {
    display: block;
}

.footer_contact {
    width: 25%;
}
.footer_contact h3,
.footer_link h3,
.footer_img h3 {
    color: #f1f1f1;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}
.footer_contact p {
    color: #f1f1f1;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding-left: 45px;
    position: relative;
    padding-bottom: 20px;
    line-height: 24px;
}
.footer_contact p i {
    width: 35px;
    height: 35px;
    background: #5bc5f4;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 5px;
}
.footer_link {
    width: 20%;
}
.footer_img {
    width: 30%;
}
.foooter_menu {
    display: flex;
    column-gap: 15px;
}
.foooter_menu ul li a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.foooter_menu ul li a:hover {
    color: #5bc5f4;
}

.flicer_inner {
    display: flex;
}
.flicer_img .margin-b {
    margin-bottom: 8px;
}
/* Footer End */

/* Copyright Start */
.copy_full {
    background: #555555;
}
.copy_full p {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 0;
    font-family: "Open Sans", sans-serif;
}
.copy_full p span {
    text-align: center;
    color: #0872b9;
    font-size: 13px;
    font-weight: 500;
    padding: 16px 0;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}
/* Copyright End */
